spring:
  application:
    name: user-service
  datasource:
    url: jdbc:mysql://scalable-assignment-scalableservice-assignment.h.aivencloud.com:14112/user_service_db?useSSL=false&allowPublicKeyRetrieval=true&autoReconnect=true
    username: avnadmin
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

server:
  port: 8081

jwt:
  secret: ${JWT_SECRET:your-secret-key-at-least-32-characters-long-for-hs256}
  expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

